/* styles.css */
body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #000;
    color: white;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header li {
    margin-right: 20px;
    cursor: pointer;
}

.header .logo {
    width: 168px;
    height: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100%;
}

.footer .icon {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.footer .icon:hover {
    background-color: #444;
}