/* styles.css */
body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
}

.logo {
    margin-right: 20px;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header li {
    margin-right: 20px;
    cursor: pointer;
}

.header .logo {
    width: 168px;
    height: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: white;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 95vh;
}

.footer .icon {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.footer .icon:hover {
    background-color: #444;
}

.footer small {
    margin-top: 100px;
    color: #fff;
    transform: rotate(270deg);
}

.title {
    margin-left: 150px;
    margin-top: 100px;
}